body {
  background-color: white;
  margin: 0px;
  max-width: 50em;
}



header {
  background-color: pink;
  color: purple;

}

code,
pre {
  background: white;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

img {
  border: 1px solid #ddd;
  max-width: 100%;
  height: 50;

}

#1 {
  visibility:hidden;
}

#2 {
  visibility:hidden;
}

.startHidden {
  visibility:hidden;
}

